extends ./inc/page.pug

block content
  section.overview
    .inner.padding-both.flex
      .col-two-third
        p=locals.overview.intro
      .col-third
        ul.skills
          each skill in locals.overview.skills
            li
              .skill-box
                p=skill.title
  section.portfolio.padding-bottom
    .inner.flex
      each site,idx in locals.portfolio.sites
        if site.thumbs
          .site-block(data-info=JSON.stringify(site),data-index=idx)
            .thumb(data-bg=locals.config.imgPath + site.thumbs[0])
            h3=site.title
          .mobile-info
            if (site.url)
              a.ext-link(href=site.url,target="_blank",rel="noopener")
                p.centered=site.url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0]
            h3 I used...
            p=site.tech
            h3 About the project...
            p=site.description
  section.resume
    .inner.padding-top
        h2.centered Work History
    .inner
      each job,idx in locals.resume.jobs
        .job-block.flex
          .col-quarter
            h4=job.name
            cite=job.location
            each position in job.positions
              h5=position.title
              p.timespan=position.time_span
          .col-three-quarter
            .description
              p=job.description
