extends ./inc/page.pug

block content
  section.overview
    .inner.padding-both.flex
      .col-two-third
        p=locals.overview.intro
      .col-third
        ul.skills
          each skill in locals.overview.skills
            li
              .skill-box
                p=skill.title
  section.portfolio
    .inner.flex.padding-all
      each site in locals.portfolio.sites
        .site-block
          if site.thumbs
            .thumb(data-bg=locals.config.imgPath + site.thumbs[0], data-info=JSON.stringify(site))
            h3=site.title
            p.tech=site.tech
  section.resume
    .inner
      each job in locals.resume.jobs
        .job-block
            .thumb-bucket
              if job.url
                a.url(href="http://"+job.url)
                  img(src=locals.config.imgPath+job.thumb)
                a.url(href="http://"+job.url)=job.url
              else
                img(src=locals.config.imgPath+job.thumb)
                a.url!="&nbsp;"
            h4=job.name
            cite=job.location
            each position in job.positions
              h5=position.title
              p.timespan=position.time_span
            .description
              p=job.description
