.col-6-s
  .thumb-bucket
    if job.url
      a.url(href="http://"+job.url)
        img(src=locals.config.imgPath+job.thumb)
      a.url(href="http://"+job.url)=job.url
    else
      img(src=locals.config.imgPath+job.thumb)
      a.url!="&nbsp;"
  h4=job.name
  cite=job.location
  each position in job.positions
    h5=position.title
    p.timespan=position.time_span
  .description
    p=job.description
