.thumbs.row
  .col-12-m
    h2=section.sites_title
  each site,index in section.sites
    - site.imgPath = locals.config.imgPath
    if section.sites[index-1]
      - site.prev = index - 1
    if section.sites[index+1]
      - site.next = index + 1
    .col-3-m.col-12-xs
      if site.thumbs
        .thumb(data-bg=locals.config.imgPath + site.thumbs[0], data-info=JSON.stringify(site))
        h3=site.title + " " + index
        p.tech=site.tech
